/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



@import url('font.css');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}  

#header{
    height: 678px;
    width: 100%;
}

:root{
    --main-color:  #DC780B;
}

.nav_one{
    width: 100%;
    height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
}

.nav_one-left{
    width: 527px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav_left-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    z-index: 5;
}

.nav_left-list:hover{
    color: #DC780B;
    opacity: 100%;
    cursor: pointer;
}

.btn_1{
    width: 155px;
    height: 46px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn_1:hover{
    opacity: 80%;
    background-color: rgb(146, 146, 146);
    border: solid 1px rgb(81, 81, 81);
}

.btn_1 > a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 11px 20px;
}

.nav_one-logo{
    width: 527px;
}

.nav_one-btn{
    width: 155px;
    height: 46px;
    z-index: 4;
}

.nav_bar-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section_one-text{
    width: 555px;
    height: 356px;
    z-index: 2;
    padding-top: 162px;
}

.section_one-buttons{
    width: 358px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section_buttons-text{
    width: 158px;
    height: 60px;
    background: #DC780B;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.section_buttons-text:hover{
    color: #DC780B;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: solid 1px gray;
}

.section_buttons-text :hover{
    opacity: 0.1;
    border: 1.5px solid #DC780B;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.section_text-title{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 48.83px;
    line-height: 58px;
}

.section_text-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    padding: 52px 0 42px;
}

.stake_section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section_one-picture{
    z-index: 1;
}

.section_one-picture > img{
    margin-left: 20px;
    position: absolute;
    width: 842px;
    height: 681px;
    top: 24px;
    left: 648px;
    z-index: 1;
}

.main_section{
    height: 283px;
    padding-top: 164px;
    margin-left: -10px;
}

.sectin_emodji-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
    z-index: 7;
    margin-bottom: 11px;
}

.sectin_emodji-text2{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 35px;
    text-transform: capitalize;
    color: #150C01;    
    text-align: center;
    z-index: 7;
}

.section_emodji-card1{
    width: 300px;
    height: 228px;
    text-align: center;
}

.section_emodji-card1-circle{
    position: relative;
    width: 88px;
    height: 88px;
    left: 106px;
    border-radius: 50%;
    background: #f6fbe4;
}

.section_card1-img1{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 21px;
}


.section_emodji-card1-title{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    color: #150C01;
    margin: 33px 0 15px;   
}

.section_emodji-card1-circle2{
    position: relative;
    width: 88px;
    height: 88px;
    left: 106px;
    border-radius: 50%;
    background: #feece8;
}

.section_cookes-texts-about{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    opacity: 0.7;
}

.section_emodji-card1-circle3{
    background: #fff6ed;
}

.section_emodji-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 44px;
}

.section_cookes{
    height: 688px;
    width: 100%;
    padding: 123px 0 115px;
}

.cookes-card{
    height: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -630px;
}

.section_cookes-texts{
    height: 500px;
    width: 585px;
    padding: 94px 0 91px 94px;
}

.section_cookes-texts-title11{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
}

.section_cookes-texts :nth-child(2){
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 41px;
    padding: 10px 0 30px;
    color: #150C01;
} 

.cookes_btn{
    width: 142px;
    height: 42px;
    background-color: var(--main-color);
    border: none;
    margin-top: 29px;
    border-radius: 5px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.cookes_btn > a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 11px 29.2px;
    /* padding: 8px 30px; */
}

.cookes_btn > a:hover{
    color: rgb(71, 71, 71);
}

.cookes_btn:hover{
    border-radius: 5px;
    background-color: #FFFFFF;
    border: solid 3px rgb(172, 172, 172);
}

.section_meals-card1{
    width: 360px;
    height: 446px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 75px 10px 10px 10px;
}

.section_price-div1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 323px;
    height: 24px;
}

.section_price-div1 > p{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
}

.section_meals-card1-price{
    padding: 21px 25px 25px;
}

.section_price-div2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section_price-div2-stars{
    width: 88px;
    height: 12px;
}

.fa-star-sharp{
    font-size: 50px;
    color: #150C01;
}

.section_price-div1 > p{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #150C01;    
}
.section_price-div1-16{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #150C01;
    opacity: 0.7;
}

.fa-square-plus{
    color: #DC780B;
    font-size: 40px;
}

.section_meals-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}

.section_meals-cards-row{
    height: 900px;
    width: 100%;
    padding-top: 272px;
}

.section_meals-title11-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #DC780B;
    opacity: 0.7;
}

.section_meals-title11-2{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #150C01;    
    margin: 9px 0 25px;
}

.section_meals-title11-3{
    font-family: 'Roboto';
    width: 748px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #150C01;
    opacity: 0.7
}

.section_meals-title111{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
}

.section_meals-cards-row > button{
    width: 142px;
    height: 42px;
    border: 1px solid #DC780B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #DC780B;
    background-color: white;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    text-align: center;
    margin-left: 506px;
}

.section_meals-cards-row > button:hover{
    border: none;
    background-color:#DC780B;
    color: white;
}

.section_contacts{
    width: 100%;
    height: 450px;
    background: #FBF1E7;
    margin-top: 649px;
}

.fa-apple{
    font-size: 35px;
    color: gray;
}

.apple > a{
    padding: 10px 10px 1px;
    margin: -20px 0 0;
}

.serction_contacts-texts :first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #ffd09e;
    
}

.serction_contacts-texts :nth-child(2){
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 41px;
    
    /* or 130% */
    
    
    color: #150C01;
    
}

.serction_contacts-texts :nth-child(3){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    /* or 150% */
    
    
    color: #150C01;
}

.section_contacts_main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.serction_contacts-texts{
    padding-top: 150px;
    width: 555px;
    height: 275px;
}

.serction_contacts-google{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 390px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.PPP{
    margin-top: -100px;
}

.M111{
    padding-top: 140px;
}

.MMM{
    width: 506px;
    height: 59px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
    color: #000000;
    margin: 7px 0 20px 0;
}

.girl > img{
    text-align: center;
}

.girl{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.l1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
    margin: 10px 0;
}

.l2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    
    opacity: 0.7;
}


.section_input{
    width: 100%;
    height: 448px;
    background-color: #fff3e7;
    margin-top: 140px;
}

.section_input :first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    width: 800px;
    border-radius: 15px;
    border: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #ffc88c;
}

.KKK{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 41px;
    /* or 130% */
    

    -webkit-box-align: center;
    

        -ms-flex-align: center;
    

            align-items: center;
    text-align: center;
    
    color: #150C01;
}

.la{
    padding-top: 115px;
}

.la > input{
    width: 640px;
height: 75px;
background: #FFFFFF;
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 41px;
/* or 254% */

display: -webkit-box;

display: -ms-flexbox;

display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

color: #000000;

opacity: 70%;
padding: 0 32px;
}

.btn_la{
    width: 156px;
    height: 75px;
    background: #DC780B;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 41px;
    /* or 226% */
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    padding: 30px 57px;
    margin-left: -30px;
}

.la_la{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-section{
    width: 100%;
    height: 429px;
    background-color: black;
    padding: 137px 150px;
}

.footer_groups{
    width: 250px;
    height: 255px;
}

.footer_groups > p{
    color: #6d6d6d;
}

.footer_groups > img{
    margin-bottom: 30px;
}

.li{
    margin: 10px 0;
}

.ka{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 121px;
}

.k{
    font-family: 'Philosopher';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;

color: #FFFFFF;
}

.footer_groups > p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
margin: 15px 0;
opacity: 0.7;
}

.group55 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1014px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}